.page-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border: 1px solid #0069ed;
    min-height: 30%;
    user-select: none;

    &.empty {
        justify-content: center;
        align-content: center;
    }
}

.page {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin: 4px;
}

.page img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.page.loading::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/loading.svg);
    background-repeat: no-repeat;
    background-position: center;
    animation-name: loading-animation;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

.page.deleted::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }

    8% {
        transform: rotate(30deg);
    }

    17% {
        transform: rotate(60deg);
    }

    25% {
        transform: rotate(90deg);
    }

    33% {
        transform: rotate(120deg);
    }

    42% {
        transform: rotate(150deg);
    }

    50% {
        transform: rotate(180deg);
    }

    58% {
        transform: rotate(210deg);
    }

    67% {
        transform: rotate(240deg);
    }

    75% {
        transform: rotate(270deg);
    }

    83% {
        transform: rotate(300deg);
    }

    92% {
        transform: rotate(330deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
